*{
	all: unset;
	font-family: "Fira Sans";
	color: #FFFFFF;
}

.winbox {
	background-color: #20262C;
	opacity: 0.85;
	// border: 1px solid #444444;
	border: 1px solid #353F4A;
	border-radius: 12px;
	box-shadow: 0 0 4px 2px #000000;
	margin: 10px;
}
.winbox:hover {
    background-color: #353F4A;
  }

.res_box {
	background-color: #20262C;
	border-radius: 12px;
	padding: 14px 18px 14px 18px;
}

.res_circle {
	// background-color: #FFFFFF;
	background-color: #353F4A;
	border: 0px solid #161616;
	color:#FFFFFF;
	border-radius: 100%;
	padding: 0px;
}

.res_circle_small {
	background-color: #2A323B;
	border: 0px solid #161616;
	border-radius: 100%;
	padding: 40px;
	color:#FFFFFF;
}

.res_text {
	border-radius: 16px;
	color: #FFFFFF;
	font-size : 16px;
	padding: 0px 8px 0px 8px;
	margin: 0px 0px 0px 0px;
	font-weight : bold;
}

.res_cpu {
	color: #75DBE1;
}

.res_mem {
	color: #74DD91;
}

.res_disk {
	color: #B4A1DB;
}

.powericons {
		background-repeat: no-repeat;
		background-size: 28px;
		min-height: 28px;
		min-width: 28px;
}

.closeicon {
	background-repeat: no-repeat;
	background-size: 16px;
	min-height: 16px;
	min-width: 16px;
}

